body{background-color: black;}  



div{
background-image: "my car.jpg";
background-color: rgb(208, 96, 16);
height: 200px; width: 250px;
}
div:hover{
    background-color: rgb(203, 240, 15);
    background-image:"my car.jpg";
}
p{
    color: chartreuse;
}
p:hover{
    background-color: rgb(4, 31, 41);
    display: inline-block;
color:tan
}
img{
    height: 300px;width: 520px;
}
